.song(ng-controller="SongCtrl as ctrl")
  .container
    .row
      .col-sm-12
        = link_to "< Back", root_path
    .row
      .col-sm-12
        %h2= @song.title
    .row
      .col-sm-12
        %button.btn.btn-primary.hidden-xs(data-loading-text="Loading..." ng-click="ctrl.startPlayback($event, '#{song_url(@song, format: :mid)}')") Play
        %button.btn.btn-default.hidden-xs= link_to "Download as MIDI", song_path(@song, format: :mid)
    .row
      .col-sm-12
        .lyrics
          %h3.hidden-xs Lyrics
          - @song.sections.each do |section|
            - section.lyrics_words.each do |word|
              %span.word{'data-syllables' => word.syllables}= word.value
            %br
            %br

        .visible-xs
          %br
          %em Playback is currently disabled on mobile devices
