!!! html
%html
  %head
    %title Songer
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body(ng-app="songer")
    %nav.navbar.navbar-default.header
      .container
        .navbar-header
          = link_to "Songer", root_path, class: "navbar-brand"
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Test Source", new_source_path
            %li= link_to "About", about_path
    .container
      - if flash[:notice]
        .alert.alert-success.text-center= flash[:notice]
    = yield
